<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>

  </head>
  <body>
      <%- include('partials/navigation') %>
    <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
      <section>
        <h1 class="display-1">About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Blanditiis ipsa eius, ab velit minus, voluptatem impedit quos pariatur culpa non doloremque. Est nulla voluptatum autem. Atque nobis necessitatibus expedita deserunt, molestiae porro quas tempore placeat explicabo vero autem esse rem natus doloremque, eos accusantium fugiat! Optio harum repudiandae dolorem, magni eligendi sit laborum molestiae possimus atque vitae minus aperiam in repellat earum tempore consectetur mollitia eos qui. Cupiditate, quis eaque, repudiandae excepturi et itaque vero ea nulla modi, debitis minus ipsa ullam quaerat. Accusamus deserunt sit libero hic aperiam atque dolorem distinctio aut, nostrum vero officia corporis sequi eveniet? Reprehenderit enim saepe quis dolor, id libero voluptates commodi fugit perspiciatis repellat itaque accusantium recusandae aspernatur tempora sequi. Facilis sit nemo eum aperiam odio sunt, est asperiores nobis, minus quis tempora suscipit. At, ipsa exercitationem consectetur esse consequuntur dolorem porro laudantium, nihil facilis praesentium architecto eveniet dolores explicabo, reprehenderit officia. Autem non saepe nemo tenetur officiis rem fugiat incidunt quisquam, sequi dolorum nostrum eos! Quidem sed laudantium ipsam veritatis provident, eum quos, deserunt impedit animi quasi ad distinctio ratione repudiandae. Quibusdam consequuntur nulla voluptatibus adipisci commodi asperiores autem, impedit error! Cupiditate, praesentium quisquam rem unde ex porro aperiam cumque eos aliquam.</p>
      </section>
    </main>
    <%- include('partials/footer') %>

  </body>
</html>
