<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    
    <%- include('partials/navigation') %>

    <!-- Main content  -->
    <header class="container d-flex vh-100 justify-content-center align-items-center">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <img src="/img/Danseloas.png" alt="" class="w-25">
        <h1 class="display-1 my-5 text-uppercase fw-bold">Danselo</h1>
        <a href="/about" class="btn btn-primary w-25 ">about</a>
      </div>
    </header>
    <%- include('partials/footer') %>

  </body>
</html>
